In [1]:
import logging
import os
import sys
from pathlib import Path

import openai
import pandas as pd
from dotenv import load_dotenv

load_dotenv()
sys.path.append(str(Path.cwd().parent))

# Using Anyscale Endpoints
openai.api_base = os.getenv("OPENAI_API_BASE")
openai.api_key = os.getenv("OPENAI_API_KEY")

from data_dictionary import data_dictionary

pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)
pd.set_option('display.width',-1)
pd.set_option("display.max_colwidth", None)

%load_ext autoreload
%autoreload 2

In [2]:
data_file = '../data/titanic_train.csv'

In [3]:
data_dictionary(csv_file=data_file)

,Variable Names,Readable Variable Name,Data Types,Allowed Values,Definition of the Variable
0,PassengerId,Passenger ID,Numeric,Range: 1 to 891,PassengerId is a unique identifier for a passenger that is different from other passengers.
1,Survived,Survival Status,Numeric,Range: 0 to 1,A passenger is a survivor if they have survived the Titanic disaster.
2,Pclass,Passenger Class,Numeric,Range: 1 to 3,Pclass is a passenger class that indicates the level of comfort and service provided on a flight.
3,Name,Name,VARCHAR(82),"Unique Values: ['Braund, Mr. Owen Harris'\n 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'\n 'Heikkinen, Miss. Laina' 'Futrelle, Mrs. Jacques Heath (Lily May Peel)'\n 'Allen, Mr. William Henry' 'Moran, Mr. James' 'McCarthy, Mr. Timothy J'\n 'Palsson, Master. Gosta Leonard'\n 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)'\n 'Nasser, Mrs. Nicholas (Adele Achem)']...",A person is a human being that has a name.
4,Sex,Gender,VARCHAR(6),Unique Values: ['male' 'female'],A person is a male or female.
5,Age,Age,Numeric,Range: 0.42 to 80.0,Age is a measure of the amount of time that has passed since a person was born.
6,SibSp,Sibling Spouse,Numeric,Range: 0 to 8,A passenger is a sibling spouse if they are traveling with their sibling and that sibling is also a spouse.
7,Parch,Passenger Ticket Number,Numeric,Range: 0 to 6,Parch is a passenger that has a parking charge.
8,Ticket,Ticket,VARCHAR(18),Unique Values: ['A/5 21171' 'PC 17599' 'STON/O2. 3101282' '113803' '373450' '330877'\n '17463' '349909' '347742' '237736']...,A ticket is a document or record that represents a claim or proof of payment for a service or product.
9,Fare,Fare,Numeric,Range: 0.0 to 512.3292,Fare is a cost that a passenger pays for transportation on a vehicle or a flight.
10,Cabin,Cabin,VARCHAR(15),Unique Values: [None 'C85' 'C123' 'E46' 'G6' 'C103' 'D56' 'A6' 'C23 C25 C27' 'B78']...,"A cabin is a small, enclosed space on a ship or boat that serves as a sleeping or living area for a person or group of people."
11,Embarked,Port of Embarkation,VARCHAR(4),Unique Values: ['S' 'C' 'Q' None],Embarked is a passenger attribute that indicates the port of embarkation for a passenger on a ship.